<section id="about" class="advantage section">
  <div class="advantage__container section__container">
    <h2 class="advantage__header">Advantages</h2>

    <ul class="advantage__list">
      <li class="advantage__item">
        <h3 class="advantage__title advantage__title--vanilla-img">721</h3>

        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantage__item">
        <h3 class="advantage__title advantage__title--apple-img">16kg</h3>

        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantage__item">
        <h3 class="advantage__title advantage__title--heart-img">84</h3>

        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>

<section class="mansory">
  <div class="mansory__container">
    <h2 class="mansory__title">Gallery</h2>
    <div class="mansory__thumb">
      <div class="mansory__animation">
        <img
          class="mansory__hearts"
          alt="hearts"
          src="./images/hearts.png"
          width="14"
          height="10"
        />
        <p class="mansory__who">Section made by Joanna Nosowska</p>
        <div class="mansory__hide"></div>
      </div>
      <img
        class="mansory__photo"
        alt="mansory gallery"
        src="./images/mansory.png"
        srcset="./images/mansory@2x.png"
      />
    </div>
  </div>
</section>
