<footer class="footer">
  <div class="footer__container">
    <div class="footer__header">
      <p class="footer__made">homemade ice cream&#160;<span>made</span></p>
      <p class="footer__passion"><span>with&#160;</span>passion</p>
    </div>
    <div>
      <div class="footer__social">
        <a href="https://github.com/" target="_blank" class="footer__svg-link">
          <svg width="20" height="20" class="footer__svg">
            <use href="./images/svg.svg#github" class="footer__use"></use>
          </svg>
        </a>
        <a href="https://telegram.org/" target="_blank" class="footer__svg-link">
          <svg width="20" height="15.8" class="footer__svg">
            <use href="./images/svg.svg#telegram" class="footer__use"></use>
          </svg>
        </a>
        <a href="https://www.facebook.com/" target="_blank" class="footer__svg-link">
          <svg width="9.3" height="20.4" class="footer__svg">
            <use href="./images/svg.svg#facebook" class="footer__use"></use>
          </svg>
        </a>
      </div>
      <p class="footer__contact">
        Feel free to contact&nbsp;<a href="tel:+610383766284" class="footer__phone"
          >+61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
  <div class="footer__rights">
    <p>&#169; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
