<header id="home" class="header">
  <div class="header__container">
    <div class="header__box">
      <div class="header__block header__block--top">
        <div class="header__logo">
          <img
            src="./images/logo.png"
            srcset="./images/logo@2x.png 2x, ./images/logo@3x.png 3x"
            alt="Logo IceCream"
          />
        </div>
        <nav>
          <ul class="header__nav header__list">
            <li class="header__nav-item">
              <a class="header__link header__link--active" href="home">Home</a>
            </li>
            <li class="header__nav-item">
              <a class="header__link" href="#about">About us</a>
            </li>
            <li class="header__nav-item">
              <a class="header__link" href="#how">How it's made?</a>
            </li>
            <li class="header__nav-item">
              <a class="header__link" href="#products">Our products</a>
            </li>
            <li class="header__nav-item">
              <a class="header__link" href="#contact">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="header__block--top-right">
          <button type="button" class="header__mobile btn" aria-expanded="false" js-open-menu>
            <svg class="header__icons">
              <use xlink:href="./images/icons-header.svg#burger" width="24" height="24"></use>
            </svg>
          </button>
          <button class="header__buy btn btn__primary" type="button" data-modal-open-1>
            Buy now
            <svg class="header__icons">
              <use xlink:href="./images/icons-header.svg#buy" width="24" height="24"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="header__block header__block--middle">
        <div class="header__title-block">
          <h1 class="header__title">
            Ice Cream<br />
            Made with<br />
            <span class="header__title--bigger">Passion</span>
          </h1>
          <ul class="header__buttons header__list">
            <li class="header__btn">
              <a class="btn btn__alternative btn__secondary" href="#products">Products</a>
            </li>
            <li class="header__btn">
              <a class="btn btn__alternative btn__primary" href="#how">How it's made?</a>
            </li>
          </ul>
        </div>
        <ul class="header__eatery header__list">
          <li class="header__eatery-item">
            <h2 class="header__eatery-number">16</h2>
            <p class="header__eatery-type">cafes</p>
            <div class="header__eatery-bubble"></div>
          </li>
          <li class="header__eatery-item">
            <h2 class="header__eatery-number">23</h2>
            <p class="header__eatery-type">food trucks</p>
            <div class="header__eatery-bubble"></div>
          </li>
        </ul>
      </div>
      <div class="header__block header__block--bottom">
        <div class="header__block--bottom-left">
          <div class="header__slider--milk">
            <img
              loading="lazy"
              src="./images/header_slider-milk.png"
              srcset="./images/header_slider-milk@2x.png 2x, ./images/header_slider-milk@3x.png 3x"
              alt="A pitcher of milk"
            />
          </div>
          <div class="header__article">
            <div class="header__post">
              <p class="header__post--secondary">FREE<br />UKRAINE<br />!!!</p>
              <p class="header__post--main" id="content">
                Learn the secret of our success. Find out why everyone loves Icecream. It's a kind
                of magic!
              </p>
            </div>
            <button class="header__arrow" type="button" id="starter">
              <svg class="header__icon-arrow">
                <use xlink:href="./images/icons-header.svg#arrow" width="8px" height="8px"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="header__slider--girl">
          <div class="header__post header__easter">
            <p>Header<br />made by<br />Rafał G. "Hunter"</p>
          </div>
          <img
            class="header__slider--overlay"
            loading="lazy"
            src="./images/header_slider-girl.png"
            srcset="./images/header_slider-girl@2x.png 2x, ./images/header_slider-girl@3x.png 3x"
            alt="A girl with an icecream"
          />
        </div>
      </div>
    </div>

    <div class="header__slider--main">
      <img
        loading="lazy"
        src="./images/header_slider-big-icecream.png"
        srcset="
          ./images/header_slider-big-icecream@2x.png 2x,
          ./images/header_slider-big-icecream@3x.png 3x
        "
        alt="A big icecream"
      />
    </div>
  </div>
</header>
