<div class="menu__container" js-menu-container>
  <button class="menu__close-button">
    <svg class="menu__close-icon">
      <use href="images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <button class="btn btn__primary btn__menu" type="button" data-modal-open-3>
    Buy now
    <svg class="btn__icon">
      <use xlink:href="images/icons.svg#icon-arrow" width="6.5" height="10"></use>
    </svg>
  </button>

  <ul class="menu__list">
    <li class="menu__item"><a href="#home" class="menu__link">Home</a></li>
    <li class="menu__item"><a href="#about" class="menu__link">About us</a></li>
    <li class="menu__item"><a href="#how" class="menu__link">How it's made?</a></li>
    <li class="menu__item"><a href="#products" class="menu__link">Our products</a></li>
    <li class="menu__item"><a href="#contact" class="menu__link">Contact</a></li>
  </ul>
</div>
