<div class="modal is-hidden" data-modal-1>
  <div class="modal__container">
    <h2 class="modal__title">
      special offer on <br /><span class="modal__title--accent">WEDNESDAYS!</span>
    </h2>
    <div class="modal__option">
      <div class="modal__box">
        <p class="modal__text">Willing to eat in?</p>
        <button type="button" class="btn btn__primary modal__easter-btn">
          <span class="modal__easter--disappear">Book a table</span>
          <span class="modal__easter">made</span>
        </button>
      </div>
      <div class="modal__box">
        <p class="modal__text">Remote refresh?</p>
        <button type="button" class="btn btn__primary modal__easter-btn">
          <span class="modal__easter--disappear">Order home</span>
          <span class="modal__easter">by</span>
        </button>
      </div>
    </div>
    <button type="button" class="btn btn__secondary modal__easter-btn" data-modal-close-1>
      <span class="modal__easter--disappear">Close</span>
      <span class="modal__easter">michamas</span>
    </button>
  </div>
</div>
