<section id="products" class="products section">
  <div class="products__container section__container">
    <p class="products__label" for="products__headline">100% natural</p>
    <h2 class="products__headline">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--1">
        <h3 class="products__name products__name--1">ice cream</h3>
        <p class="products__description" made-by>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et <span class="products__lorem"> . dolore magna aliqua facilisis.</span>
        </p>
        <button class="products__button products__button--1" type="button">
          <svg class="products__icon">
            <use xlink:href="./images/icons2.svg#arrow" width="15px" height="15px"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--2">
        <h3 class="products__name products__name--2">ice coffee</h3>
        <p class="products__description" made-by2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et <span class="products__lorem"> . dolore magna aliqua facilisis.</span>
        </p>

        <button class="products__button" type="button">
          <svg class="products__icon">
            <use xlink:href="./images/icons2.svg#arrow" width="15px" height="15px"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--3">
        <h3 class="products__name products__name--3">milkshakes</h3>
        <p class="products__description" made-by3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et <span class="products__lorem"> . dolore magna aliqua facilisis.</span>
        </p>

        <button class="products__button" type="button">
          <svg class="products__icon">
            <use xlink:href="./images/icons2.svg#arrow" width="15px" height="15px"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
