<div id="about" class="section">
  <div class="reviews__container section__container">
    <div class="reviews__item-wrapper">
      <div class="client is-faded is-visible" js-client-1>
        <div class="client__testimolias">
          <img src="./images/person1.jpg" alt="Uśmiechnięta kobieta" class="client__photo" />
        </div>

        <div class="client__text-wrapper">
          <p class="client__content" js-content-1>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <span class="client__name">Emily, Los Angeles</span>
      </div>

      <div class="client is-faded" js-client-2>
        <div class="client__testimolias">
          <img src="./images/person2.jpg" alt="Kobieta w okularach" class="client__photo" />
        </div>

        <div class="client__text-wrapper">
          <p class="client__content" js-content-2>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <span class="client__name">Lorem, Ipsum dolor</span>
      </div>

      <div class="client is-faded" js-client-3>
        <div class="client__testimolias">
          <img src="./images/person3.jpg" alt="Ciemnoskóra kobieta" class="client__photo" />
        </div>

        <div class="client__text-wrapper">
          <p class="client__content">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <span class="client__name">Sit, Amet Consectetur</span>
      </div>
    </div>

    <div class="reviews__control" js-control>
      <ul class="reviews__list">
        <li class="reviews__item">
          <button class="reviews__control-btn" data-btnindex="0">
            <svg class="reviews__icon is-faded">
              <use href="./images/slider-icons.svg#icon-home"></use>
            </svg>
            <svg class="reviews__icon icon-hidden">
              <use href="./images/slider-icons.svg#icon-dot"></use>
            </svg>
          </button>
        </li>
        <li class="reviews__item">
          <button class="reviews__control-btn" data-btnindex="1">
            <svg class="reviews__icon icon-hidden is-faded">
              <use href="./images/slider-icons.svg#icon-home"></use>
            </svg>
            <svg class="reviews__icon">
              <use href="./images/slider-icons.svg#icon-dot"></use>
            </svg>
          </button>
        </li>
        <li class="reviews__item">
          <button class="reviews__control-btn" data-btnindex="2">
            <svg class="reviews__icon icon-hidden is-faded">
              <use href="./images/slider-icons.svg#icon-home"></use>
            </svg>
            <svg class="reviews__icon">
              <use href="./images/slider-icons.svg#icon-dot"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
