<section id="contact" class="table section">
  <div class="background"></div>
  <div class="section__container">
    <h2 class="table__header">Contact</h2>

    <ul class="table__list">
      <li class="table__box">
        <h4 class="table__head">CAFE</h4>
        <h5 class="table__place">Chicago</h5>
        <p class="table__content">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="line"></div>
        <div class="table__opened">
          <div class="table__day">Monady - Friday</div>
          <div class="table__hour">06:00 AM - 10:00 PM</div>
        </div>
        <div class="table__opened">
          <div class="table__day">Saturday - Sunday</div>
          <div class="table__hour">08:00 AM - 16:00 PM</div>
        </div>
        <div class="line"></div>
        <div class="table__contact">
          <a href="tel:+61(0)383766284">+61(0) 383 766 284</a><br />
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="table__box">
        <h4 class="table__head table__head--second">FOOD TRUCK</h4>
        <h5 class="table__place">Los Angeles</h5>
        <p class="table__content">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="line"></div>
        <div class="table__opened">
          <div class="table__day">Monady - Friday</div>
          <div class="table__hour">06:00 AM - 10:00 PM</div>
        </div>
        <div class="table__opened">
          <div class="table__day">Saturday - Sunday</div>
          <div class="table__hour">08:00 AM - 16:00 PM</div>
        </div>
        <div class="line"></div>
        <div class="table__contact">
          <a href="tel:+61(0)383766284">+61(0) 383 766 284</a><br />
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="table__box">
        <h4 class="table__head">CAFE</h4>
        <h5 class="table__place">New York</h5>
        <p class="table__content">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="line"></div>
        <div class="table__opened">
          <div class="table__day">Monady - Friday</div>
          <div class="table__hour">06:00 AM - 10:00 PM</div>
        </div>
        <div class="table__opened">
          <div class="table__day">Saturday - Sunday</div>
          <div class="table__hour">08:00 AM - 16:00 PM</div>
        </div>
        <div class="line"></div>
        <div class="table__contact">
          <a href="tel:+61(0)383766284">+61(0) 383 766 284</a><br />
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
    </ul>
    <div class="table__btn">
      <button
        class="btn btn__secondary"
        type="button"
        data-modal-open-2
      >
        Our Locations
        <svg class="btn__icon">
          <use xlink:href="./images/icons.svg#icon-arrow" width="6.5" height="10"></use>
        </svg>
      </button>
      <button class="btn btn__primary" type="button">
        Franchise
        <svg class="btn__icon">
          <use xlink:href="./images/icons.svg#icon-arrow" width="6.5" height="10"></use>
        </svg>
        <span class="table__easter">This section made by Kamil Lech ;)</span>
      </button>
    </div>
    <!-- <div class="table__easter">
      
    </div> -->
  </div>
</section>
