@use '../utils/forward' as *;

.about {
  position: relative;
  background-color: color-get('bg-secondary');

  &__container {
    position: relative;
    padding-top: 125px;
    @include flex-display(column, null, null, start);
  }

  &__background-image {
    position: absolute;
    bottom: 61px;
    left: 0;
    background-image: url('../images/about-bg.png');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    &--desktop {
      display: none;
    }
  }

  &__title {
    font-family: 'Titan One';
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 26px;
  }

  &__label {
    margin-bottom: 15px;
    @include font-type(null, 18px, 1.147);
    color: color-get('accent-secondary');
  }

  &__header {
    @include font-type(null, 34px, 1.147, 0.06em);
    color: color-get('accent-primary');
  }

  &__main {
    position: relative;
    @include flex-display(column, null, null, center);
  }

  &__bio-eco {
    position: relative;

    & > img {
      position: relative;
      z-index: 1;
    }
  }

  &__made-by {
    position: absolute;
    @include font-type(null, 8px);
    color: black;
    bottom: 40%;
    right: 30%;
    z-index: 0;

    .about__bio-eco:hover & {
      animation: madeBySlide 1s linear forwards;
    }
  }
}

@keyframes madeBySlide {
  0% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(0deg);
    bottom: 10%;
    right: 5%;
  }
}

.description {
  padding: 50px 30px 0;

  &__info {
    @include font-type(500, 12px, 1.76, 0.04em);

    &--color {
      color: color-get('text-secondary');
    }

    &:first-of-type {
      margin-bottom: 29px;
    }
  }

  &__btn {
    margin-top: 17px;
  }
}

@include media-mapp('phone', 'tablet') {
  .about {
    &__label {
      @include font-type(null, 26px);
    }

    &__header {
      @include font-type(null, 48px);
    }
  }

  .description {
    &__info {
      @include font-type(null, 12px);
    }
  }
}

@include media-mapp('tablet') {
  .about {
    &__container {
      padding-bottom: 27px;
    }

    &__background-image {
      display: none;
    }

    &__title {
      margin-bottom: 50px;
    }

    &__label {
      @include font-type(null, 30px);
    }

    &__header {
      @include font-type(null, 58px);
    }

    &__main {
      flex-direction: unset;
      @include flex-display(wrap, 20px, null, start);
    }

    &__bio-eco {
      @include flex-basis(2, 20px);
    }

    &__made-by {
      @include font-type(null, 10px);
    }

    &__description {
      @include flex-basis(2, 20px);
    }
  }

  .description {
    padding: 50px 0 0;

    &__info {
      @include font-type(null, 14px);
    }

    &__btn {
      margin-top: 45px;
    }
  }
}

@include media-mapp('desktop') {
  .about {
    &__container {
      padding-top: 125px;
      padding-bottom: 0;
    }

    &__background-image--desktop {
      display: block;
      bottom: -65px;
    }

    &__title {
      margin-bottom: 102px;
    }

    &__label {
      @include font-type(null, 30px);
    }

    &__header {
      @include font-type(null, 58px);
    }

    &__main {
      flex-direction: unset;
      @include flex-display(wrap, 71px, center);
    }

    &__bio-eco {
      max-width: 516px;
    }

    &__made-by {
      @include font-type(null, 12px);
    }

    &__description {
      flex: 1;
    }
  }

  .description {
    &__info {
      @include font-type(null, 16px);
    }
  }
}
