@use '../utils/forward' as *;

.footer {
  width: calc(100vw - (100vw - 100%));
  background-color: color-get('bg-secondary');
  &__container {
    padding: 0 20px;
    min-width: calc(320px - (100vw - 100%));
    max-width: calc(1280px - (100vw - 100%));
    margin: 0 auto;
  }
  &__svg-link {
    width: 34px;
    height: 34px;
    background-color: #fea5bb;
    border-radius: 50%;
    display: flex;
    &:hover {
      background-color: color-get('accent-primary');
    }
  }
  &__svg {
    margin: auto;
  }
  &__use {
    fill: #ffffff;
    width: 100%;
    stroke: none;
  }
  &__social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
    margin-top: 43px;
    justify-content: flex-end;
  }
  &__rights {
    border-top: 1px solid color-get('brd-primary');
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    padding-top: 22px;
    padding-bottom: 25px;
    margin: 0 auto;
    color: color-get('text-secondary');
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    & p {
      margin: 0 80px;
      line-height: 1.52;
    }
  }
  &__contact {
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 43px;
    margin-top: 46px;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.86;
  }
  &__header {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    text-transform: uppercase;
    font-family: 'Titan One', sans-serif;
    line-height: 1.145;
  }
  &__made {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: color-get('accent-secondary');
  }
  &__passion {
    display: flex;
    flex-direction: column;
    font-size: 34px;
    color: color-get('accent-primary');
    letter-spacing: 0.04em;
  }
  &__phone {
    color: color-get('accent-primary');
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
    }
    &__made {
      font-size: 26px;
      letter-spacing: 0.04em;
    }
    &__passion {
      font-size: 48px;
      letter-spacing: 0.06em;
    }
    &__contact {
      font-size: 14px;
    }
    &__social {
      margin-top: 0;
    }
    &__rights {
      margin-top: 91px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__made {
      flex-direction: row;
      font-size: 30px;
    }
    &__passion {
      flex-direction: row;
      font-size: 58px;
    }
  }
}
