@use '../utils/forward' as *;

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  @include font-type(400, 14px, 1.3, 0.04em);
  color: color-get('text-primary');
  background-color: color-get('bg-primary');
}

// body::-webkit-scrollbar {
//   display: none;
//   width: 10px;
//   border: 10px solid rgba(0, 0, 0, 0.25);
// }

h1,
h2,
h3,
h4,
h5,
p,
ul,
figure,
button {
  margin: 0;
  padding: 0;
}

button,
svg {
  outline: none;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style-type: none;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

a {
  text-decoration: none;
}
