@use '../utils/forward' as *;

.is-hidden {
  opacity: 50%;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms ease-in-out, visibility 300ms linear;
}

.modal {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 888;
  display: flex;
  &__container {
    margin: 0;
    padding: 20px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
    max-width: 80vw;
    width: max-content;
    max-height: 90vh;
    height: max-content;
    background-color: color-get('bg-alternative');

    @include flex-display(column, 20px, center, center);

    z-index: 999;
    border-radius: 24px;
  }
  &__title {
    font-weight: 200px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 4px;
    // @include font-type(200px, 20px, 1.5, 4px);

    text-align: center;
    display: block;
    text-transform: uppercase;
    font-family: 'Titan One';
    color: color-get('text-secondary');
    &--accent {
      color: color-get('accent-primary');
      font-size: 30px;
      letter-spacing: 6px;
    }
    // &:hover {
    //   display: none;
    // }
  }
  &__option {
    @include flex-display(column, null, center, stretch);
    // max-height: max-content;
    column-gap: 20px;
    row-gap: 10px;
    @media (min-width: 850px) {
      & {
        flex-direction: row;
        height: fit-content;
      }
    }
  }
  &__location {
    display: none;
    width: 100%;
    height: 50vh;
    max-height: 800px;
    min-height: 30px;
    padding: 0;
  }
  &__map {
    border-radius: 24px;
  }
  &__button-list {
    @include flex-display(wrap, 10px, center, null);
    @media (max-height: 480px) {
      & {
        flex-direction: row;
      }
    }
  }
  &__box {
    background-color: color-get('bg-alternative');
    // @include flex-basis(2, 20px);
    @include flex-display(column, null, space-between, null);
    padding: 10px;
    border-radius: 24px;
    width: max-content;
    max-width: 200px;
    max-height: 130px;
    height: 130px;
    cursor: progress;
    @media (max-height: 480px) {
      & {
        max-height: 110px;
      }
    }

    &:hover,
    &:focus {
      background-color: color-get('bg-decorative');
    }
    &-img {
      width: 15px;
      height: 15px;
    }
  }
  &__text {
    font-family: 'DM Sans';
    font-weight: 700px;
    font-size: 18px;
    line-height: 1.28;
    // @include font-type(700px, 15px, 1.28, null);
    overflow-wrap: break-word;
    color: color-get('text-alternative');
    text-align: center;
    margin: 10px 0;
  }

  .modal-visable {
    display: block;
  }
}
//easter egg
.modal__easter {
  display: none;
  &-btn {
    width: 170px;
    &:hover .modal__easter {
      display: flex;
    }
    &:hover .modal__easter--disappear {
      display: none;
    }
  }
}
