@use '../utils/forward' as *;

.reviews__container {
  background-color: color-get('text-alternative');
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    & {
      padding-top: 105px;
      padding-bottom: 135px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      padding-top: 123px;
      padding-bottom: 135px;
    }
  }
}

.client {
  display: none;
}

.client__testimolias {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 29px;

  @media screen and (min-width: 768px) {
    & {
      margin-bottom: 19px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      margin-bottom: 15px;
    }
  }
}

.client__photo {
  width: 85px;
  width: 85px;
  border-radius: 50px;
}

.client__text-wrapper {
  position: relative;
  background-color: color-get('bg-testimonials');
  padding: 43px 50px 20px;

  &::before {
    position: absolute;
    content: url(../images/fdd.svg);
    top: 28px;
    left: 61px;
  }
}
// For client__text-wrapper

@media screen and (min-width: 768px) {
  .client__text-wrapper {
    padding: 47px 36px 28px 60px;

    &::before {
      top: 30px;
      left: 40px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .client__text-wrapper {
    padding: 47px 54px 32px 50px;

    &::before {
      top: 32px;
      left: 50px;
    }
  }
}

.client__content {
  padding: 0px 16px 6px 7px;
  position: relative;
  margin: auto;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0.01em;
  text-align: center;
  color: color-get('text-primary');
  background: repeating-linear-gradient(
      to bottom,
      transparent 0 calc(1.8em - 1px),
      color-get('brd-primary') 0 1.8em
    )
    transparent;

  @media screen and (min-width: 768px) {
    & {
      letter-spacing: 0.04em;
      padding: 0px 44px 6px 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      padding: 0px 35px 7px 28px;
    }
  }
}

.client__name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8em;
  text-align: center;
  color: color-get('text-primary');
  margin: auto;
  display: block;
  margin-top: 52px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: color-get('shdw-dots');
    top: -18px;
    left: 50%;
    top: 15;
    transform: translateX(-50%);
    filter: drop-shadow(12px 0px 0px color-get('shdw-dots'))
      drop-shadow(-12px 0px 0px color-get('shdw-dots'));
  }
}

// For client__name

@media screen and (min-width: 768px) {
  .client__name {
    font-size: 16px;
    margin-top: 42px;

    &::before {
      top: -14px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .client__name {
    font-size: 20px;
    margin-top: 34px;

    &::before {
      top: -15px;
    }
  }
}

.reviews__list {
  margin-top: 30px;
  padding: 0;
  display: flex;
  gap: 18px;
  border: none;
  justify-content: center;

  @media screen and (min-width: 768px) {
    & {
      margin-top: 35px 0;
    }
  }
}

.reviews__control-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: color-get('btn-slider');
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: color-get('btn-bg');
  }
}

.reviews__icon {
  stroke: transparent;
  width: 12px;
  height: 12px;
  pointer-events: none;
}

//Additional classes used to slider.js. Should stay here.

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.is-visible {
  display: block;
}

.icon-hidden {
  display: none;
}

.is-faded {
  animation: fadeIn 700ms ease-in;
}
