@use '../utils/forward' as *;
@use '../utils/colors' as *;

.table {
  display: block;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 11%, rgba(255, 245, 246, 1) 12%);
  justify-items: center;
  z-index: 1;
  position: relative;

  &__header {
    display: none;
  }

  &__box {
    padding-left: 43px;
    padding-right: 44px;
    height: 572px;
    border-radius: 24px;
    background-color: white;
    z-index: 3;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  }
  &__list {
    column-gap: 31px;
    display: flex;
    justify-content: center;
  }
  &__head {
    max-width: 330px;
    @include mix-head_font;
    line-height: 29.76px;
    border-radius: 6px;
    background-color: color-get('second-chld');
    height: 28px;
    width: 73px;
    margin-bottom: 32px;
    text-align: center;
    margin-top: 52px;

    &--second {
      @include mix-head_font;
      width: 138px;
      background-color: color-get('third-chld');
      color: white;
    }
  }
  &__place {
    @include mix-head_font;
    margin-bottom: 10px;
    line-height: 29.76px;
  }
  &__content {
    @include mix-head_font;
    max-width: 243px;
    color: color-get('text-secondary');
    line-height: 29.28px;
  }
  &__opened {
    margin-bottom: 15px;
    @include mix-head_font;
  }
  &__contact {
    @include mix-head_font;
    line-height: 29.76px;

    & a {
      text-decoration: none;
      color: color-get('text-secondary');
    }
  }
  &__hour {
    color: color-get('accent-secondary');
    line-height: 29.76px;
  }
  &__button {
    margin: 86px 7.5px 165px 7.5px;

    &--primary {
      background-color: color-get('btn-bg');
      color: white;
    }
    &--secondary {
      background-color: white;
      color: color-get('btn-bg');
      margin: 86px 7.5px 165px 7.5px;
    }
  }
  &__button--secondary:hover,
  &__button--secondary:active {
    background-color: color-get('btn-bg-alternative');
    color: color-get('accent-primary');
  }
  &__button--secondary:hover span {
    transition: transform 1s linear;
    display: flex;
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
  &__easter {
    display: none;
    left: 50%;
    top: 50%;
    font-weight: 100;
  }
}

.line {
  width: 234px;
  border-bottom: 1px solid grey;
  margin: 32px 0;
  border-color: color-get('brd-primary');
}
.background {
  background-image: url(../images/sectionbg1.png);
  width: 100%;
  height: 382px;
  position: absolute;
  top: 131px;
  z-index: 2;
  justify-items: center;
  left: 0;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .table {
    padding: 50px;
    &__list {
      display: grid;
    }
    &__box {
      margin: 20px 0;
    }
    &__button {
      margin: 0;
      gap: 10px;
    }
    &__btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 10px;
      margin-top: 34px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .table {
    &__box {
      width: 220px;
      padding: 31px;
      font-size: 14px;
    }
    &__hour,
    &__head,
    &__place,
    &__day,
    &__content,
    &__contact {
      font-size: 14px;
    }
    &__content {
      line-height: 23.24px;
    }
    &__head {
      margin-top: 20px;
    }
  }
  .line {
    max-width: -webkit-fill-available;
    margin: 30px 0;
  }
}
